@font-face {
  font-family: 'GothamProLig';
  src: url("../fonts/Gotham/GothaProLig.eot");
  src: url("../fonts/Gotham/GothaProLig.woff") format('woff'), url("../fonts/Gotham/GothaProLig.ttf") format('truetype'), url("../fonts/Gotham/GothaProLig.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GothamPro';
  src: url("../fonts/Gotham/GothamPro.eot");
  src: url("../fonts/Gotham/GothamPro.woff") format('woff'), url("../fonts/Gotham/GothamPro.ttf") format('truetype'), url("../fonts/Gotham/GothamPro.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeometriaLight';
  src: url("../fonts/Geometria/Geometria-Light.eot");
  src: url("../fonts/Geometria/Geometria-Light.woff") format('woff'), url("../fonts/Geometria/Geometria-Light.ttf") format('truetype'), url("../fonts/Geometria/Geometria-Light.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'GeometriaHeavy';
  src: url("../fonts/Geometria/Geometria-Heavy.eot");
  src: url("../fonts/Geometria/Geometria-Heavy.woff") format('woff'), url("../fonts/Geometria/Geometria-Heavy.ttf") format('truetype'), url("../fonts/Geometria/Geometria-Heavy.svg") format('svg');
  font-weight: normal;
  font-style: normal;
}
html * {
  max-height: 999999px;
  -webkit-font-smoothing: antialiased;
}
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  background: #0e1656 url("../img/bg--noise.png") repeat;
}
body {
  font-family: GeometriaLight, sans-serif;
  font-size: 14px;
  color: #0e1656;
  min-height: 100%;
  height: 100%;
  position: relative;
  -webkit-text-size-adjust: 100%;
}
.page-wrap {
  min-height: 100%;
  position: relative;
  min-width: 320px;
  overflow: hidden;
}
form,
p,
ul,
ol,
dl,
dt,
dd,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
  list-style: none;
}
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
section {
  position: relative;
  z-index: 10;
}
.justifyed {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
}
.width-wrap {
  display: block;
  margin: 0 auto;
  width: 960px;
  position: relative;
  z-index: 10;
}
@media (max-width: 980px) {
  .width-wrap {
    width: auto;
    padding: 0 15px;
  }
}
ol,
ul,
.grid {
  list-style: none;
  font-size: 0;
  line-height: 0;
  letter-spacing: -1px;
}
li,
.grid-item {
  line-height: normal;
  letter-spacing: normal;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
}
.hidden-block {
  display: none !important;
}
.decor-line {
  position: relative;
}
.decor-line:before {
  position: absolute;
  content: "";
  width: 1px;
  height: 63px;
  left: 50%;
  top: -70px;
  background: linear-gradient(to bottom, #7080bc 0%, rgba(112,128,188,0) 100%);
}
.page-noise {
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
}
.page-noise rect {
  width: 100%;
  height: 100%;
  fill: #0e1656;
}
.bg-circle {
  background: linear-gradient(135deg, #17d0d6 1%, #6145d4 100%);
  border-radius: 100%;
}
a,
p,
span,
li,
input,
time,
blockquote,
textarea {
  font-family: GeometriaLight, sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #ccd3f5;
  letter-spacing: 1px;
}
@media (max-width: 980px) {
  a,
  p,
  span,
  li,
  input,
  time,
  blockquote,
  textarea {
    line-height: 25px;
  }
}
a {
  cursor: pointer;
  outline: none;
}
i {
  display: block;
  font: inherit;
  font-style: normal;
}
h2 {
  font-family: GeometriaLight, sans-serif;
  color: #ccd3f5;
  font-size: 26px;
  line-height: 45px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media (max-width: 980px) {
  h2 {
    font-size: 16px;
    line-height: 30px;
  }
}
h3 {
  font-family: GeometriaLight, sans-serif;
  color: #ccd3f5;
  font-size: 12px;
  line-height: 24px;
  display: block;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media (max-width: 980px) {
  h3 {
    font-size: 11px;
  }
}
.font-gotham {
  font-family: GothamPro, sans-serif;
}
.btn {
  box-sizing: border-box;
  font-family: GothamPro, sans-serif;
  font-size: 9px;
  line-height: 13px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  border-radius: 30px;
  padding: 15px 24px 13px;
  outline: none;
  background: #0986ef;
  box-shadow: 0 5px 47px 0 #0986ef;
  display: inline-block;
  vertical-align: top;
  letter-spacing: 2px;
  text-transform: uppercase;
  border: none;
}
.btn:hover {
  box-shadow: 0 8px 27px 0 #0986ef;
}
.btn.btn-l {
  padding: 25px 60px 22px;
  letter-spacing: 3px;
  background: linear-gradient(to right, #6c26d5 0%, #2e8bf5 100%);
  box-shadow: 0 9px 46px rgba(73,94,231,0.6);
  border: none;
  border-radius: 40px;
}
.btn.btn-l:hover {
  background: linear-gradient(to right, #8849e5 0%, #4c9bf6 100%);
  box-shadow: 0 6px 29px #637bef;
}
.btn.disabled {
  border: 1px solid #d5dcf0 !important;
  background: transparent !important;
  color: #d5dcf0 !important;
  box-shadow: none;
  pointer-events: none;
}
.btn.disabled:hover {
  box-shadow: none;
}
.main-form {
  text-align: center;
}
.main-form h3 {
  text-align: center;
  margin-bottom: 30px;
}
.main-form textarea.inp {
  height: 40px;
  resize: none;
  text-align: left;
}
.main-form textarea.inp::-webkit-input-placeholder {
  text-align: center;
}
.main-form textarea.inp::-moz-placeholder {
  text-align: center;
}
.main-form textarea.inp:-ms-input-placeholder {
  text-align: center;
}
.main-form textarea.inp::placeholder {
  text-align: center;
}
.main-form .inp {
  display: block;
  text-align: center;
  height: 30px;
  border: none;
  border-bottom: 1px solid #a6b5fd;
  color: #a6b5fd;
  background: transparent;
  outline: none;
  font-size: 14px;
  margin-bottom: 28px;
  padding: 0px;
  width: 100%;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
}
.main-form .inp::-webkit-input-placeholder {
  color: #a6b5fd;
  font-size: 14px;
}
.main-form .inp::-moz-placeholder {
  color: #a6b5fd;
  font-size: 14px;
}
.main-form .inp:-ms-input-placeholder {
  color: #a6b5fd;
  font-size: 14px;
}
.main-form .inp::placeholder {
  color: #a6b5fd;
  font-size: 14px;
}
.main-form .inp:focus {
  border-bottom: 1px solid #a2c3ed;
}
.main-form .inp:focus::-webkit-input-placeholder {
  color: transparent;
}
.main-form .inp:focus::-moz-placeholder {
  color: transparent;
}
.main-form .inp:focus:-ms-input-placeholder {
  color: transparent;
}
.main-form .inp:focus::placeholder {
  color: transparent;
}
.main-form .inp.error {
  color: #ff1668;
  border-bottom: 1px solid #ff1668 !important;
  background: url("../img/icon--inp-error.png") no-repeat 100% 50%;
}
.main-form .inp.error::-webkit-input-placeholder {
  color: #ff1668;
}
.main-form .inp.error::-moz-placeholder {
  color: #ff1668;
}
.main-form .inp.error:-ms-input-placeholder {
  color: #ff1668;
}
.main-form .inp.error::placeholder {
  color: #ff1668;
}
.main-form .inp.success {
  border-bottom: 1px solid #adbed3;
  background: url("../img/icon--inp-check.png") no-repeat 100% 50%;
}
.main-form label.inp-checkbox {
  display: block;
  vertical-align: top;
  text-align: center;
  margin-bottom: 35px;
  cursor: pointer;
}
.main-form label.inp-checkbox:hover .psevdocheckbox {
  border: 1px solid #67bcf2;
}
.main-form label.inp-checkbox input {
  display: none;
}
.main-form label.inp-checkbox input:checked + .psevdocheckbox {
  background: #41a4f6 url("../img/icon--check.png") no-repeat 50% 50%;
}
.main-form label.inp-checkbox .psevdocheckbox {
  display: inline-block;
  vertical-align: top;
  width: 23px;
  height: 23px;
  border-radius: 25px;
  border: 1px solid #adbed3;
  margin-right: 10px;
}
.main-form label.inp-checkbox span {
  display: inline-block;
  vertical-align: top;
  line-height: 23px;
}
.main-form .capcha {
  text-align: center;
  margin-bottom: 20px;
  padding-top: 27px;
}
.main-form .capcha img {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}
.main-form .icon-sound {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 13px;
  background: url("../img/icon--sound.png") no-repeat 0 0;
  margin: 0 5px;
  cursor: pointer;
}
.main-form .icon-reload {
  display: inline-block;
  vertical-align: top;
  width: 14px;
  height: 13px;
  background: url("../img/icon--reload.png") no-repeat 0 0;
  margin: 0 5px;
  cursor: pointer;
}
.main-form .btn {
  padding: 25px 90px 22px;
  margin-top: 60px;
  margin-bottom: 20px;
}
@media (max-width: 980px) {
  .main-form .btn {
    margin-top: 30px;
  }
}
.main-form .error-message {
  display: block;
  text-align: center;
  color: #ff1668;
}
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
@media (max-width: 980px) {
  .fancybox-wrap {
    left: 0 !important;
    right: 0 !important;
    width: auto !important;
  }
}
.fancybox-skin {
  position: relative;
  color: #444;
  text-shadow: none;
  border-radius: 4px;
  padding: 0 !important;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  box-shadow: none;
  border-radius: 0 !important;
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
  height: auto !important;
}
@media (max-width: 980px) {
  .fancybox-inner {
    width: auto !important;
  }
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-prev span,
.fancybox-next span {
  background-image: url("../img/fancy/fancybox_sprite.png");
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../img/fancy/fancybox_loading.gif") center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: 0;
  right: -20px;
  width: 13px;
  height: 12px;
  cursor: pointer;
  z-index: 8040;
  background: url("../img/icon--close.png") no-repeat 50% 50%;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../img/fancy/blank.gif");
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-lock {
  overflow: visible !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(85,81,80,0.8);
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
  background: rgba(85,81,80,0.8);
}
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0,0,0,0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0,0,0,0.8);
}
.scrollable {
  position: relative;
}
.scrollable:focus {
  outline: 0;
}
.scrollable .viewport {
  position: relative;
  overflow: hidden;
}
.scrollable .viewport .overview {
  position: absolute;
}
.scrollable .scroll-bar {
  display: none;
}
.scrollable .scroll-bar.vertical {
  position: absolute;
  right: 0;
  height: 100%;
}
.scrollable .scroll-bar.horizontal {
  position: relative;
  width: 100%;
}
.scrollable .scroll-bar .thumb {
  position: absolute;
}
.scrollable .scroll-bar.vertical .thumb {
  width: 100%;
  min-height: 10px;
}
.scrollable .scroll-bar.horizontal .thumb {
  height: 100%;
  min-width: 10px;
  left: 0;
}
.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.scrollable.default-skin {
  padding-right: 10px;
  padding-bottom: 6px;
}
.scrollable.default-skin .scroll-bar.vertical {
  width: 6px;
}
.scrollable.default-skin .scroll-bar.horizontal {
  height: 6px;
}
.scrollable.default-skin .scroll-bar .thumb {
  background-color: #000;
  opacity: 0.4;
  border-radius: 3px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
}
.scrollable.default-skin .scroll-bar:hover .thumb {
  opacity: 0.6;
}
.scrollable.gray-skin {
  padding-right: 17px;
}
.scrollable.gray-skin .scroll-bar {
  border: 1px solid #808080;
  background-color: #d3d3d3;
}
.scrollable.gray-skin .scroll-bar .thumb {
  background-color: #808080;
}
.scrollable.gray-skin .scroll-bar:hover .thumb {
  background-color: #000;
}
.scrollable.gray-skin .scroll-bar.vertical {
  width: 10px;
}
.scrollable.gray-skin .scroll-bar.horizontal {
  height: 10px;
  margin-top: 2px;
}
.scrollable.modern-skin {
  padding-right: 17px;
}
.scrollable.modern-skin .scroll-bar {
  border: 1px solid #808080;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  box-shadow: inset 0 0 5px #888;
}
.scrollable.modern-skin .scroll-bar .thumb {
  background-color: #95aabf;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #536984;
}
.scrollable.modern-skin .scroll-bar.vertical .thumb {
  width: 8px;
  background: linear-gradient(to right, #95aabf 0%, #547092 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=1 )";
}
.scrollable.modern-skin .scroll-bar.horizontal .thumb {
  height: 8px;
  background-image: linear-gradient(#95aabf, #547092);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient( startColorstr='#95aabf', endColorstr='#547092',GradientType=0 )";
}
.scrollable.modern-skin .scroll-bar.vertical {
  width: 10px;
}
.scrollable.modern-skin .scroll-bar.horizontal {
  height: 10px;
  margin-top: 2px;
}
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}
.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 8020;
}
.fancybox-skin {
  position: relative;
  color: #444;
  text-shadow: none;
  border-radius: 4px;
  padding: 0 !important;
}
.fancybox-opened {
  z-index: 8030;
}
.fancybox-opened .fancybox-skin {
  box-shadow: none;
  border-radius: 0 !important;
}
.fancybox-outer,
.fancybox-inner {
  position: relative;
}
.fancybox-inner {
  overflow: hidden;
  height: auto !important;
}
.fancybox-inner iframe {
  min-height: 450px;
}
.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}
.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}
.fancybox-image,
.fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}
.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}
#fancybox-loading,
.fancybox-prev span,
.fancybox-next span {
  background-image: url("../img/fancy/fancybox_sprite.png");
}
#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}
#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url("../img/fancy/fancybox_loading.gif") center center no-repeat;
}
.fancybox-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 29px;
  height: 29px;
  cursor: pointer;
  z-index: 8040;
  background: url("../img/icon--close.png") no-repeat 50% 50%;
}
.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url("../img/fancy/blank.gif");
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  z-index: 8040;
}
.fancybox-prev {
  left: 0;
}
.fancybox-next {
  right: 0;
}
.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}
.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}
.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}
.fancybox-nav:hover span {
  visibility: visible;
}
.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}
.fancybox-lock {
  overflow: visible !important;
  width: auto;
}
.fancybox-lock body {
  overflow: hidden !important;
}
.fancybox-lock-test {
  overflow-y: hidden !important;
}
.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(85,81,80,0.8);
}
.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}
.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
  background: rgba(85,81,80,0.8);
}
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}
.fancybox-opened .fancybox-title {
  visibility: visible;
}
.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}
.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  background: rgba(0,0,0,0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #fff;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}
.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}
.fancybox-title-inside-wrap {
  padding-top: 10px;
}
.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0,0,0,0.8);
}
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 500ms ease-in-out;
}
.owl-carousel {
  display: none;
  width: 100%;
  -webkit-tap-highlight-color: transparent;
/* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
/* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
.no-js .owl-carousel {
  display: block;
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding: 65px 0 22px;
  background: transparent;
  transition: all 0.2s ease-in-out;
  z-index: 100;
}
@media (max-width: 980px) {
  .header {
    padding: 15px 0;
  }
}
.header.open .header--menu {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
.header.open .header--close {
  opacity: 1;
}
.header.scrolled {
  background: #131b60;
  padding-top: 20px;
  box-shadow: 0 4px 49px #0b0f3a;
}
.header.scrolled .header--logo img {
  height: 37px;
  margin: 0 auto 5px;
}
.header.scrolled .header--logo span {
  font-size: 10px;
}
.header.scrolled .header--btn {
  margin-top: 13px;
}
.header.scrolled .header--enter {
  margin-top: 25px;
}
.header--enter {
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  width: 155px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 980px) {
  .header--enter {
    display: none;
  }
}
.header--enter:hover span {
  color: #0986ef;
  border-bottom: 1px solid #1d4387;
}
.header--enter:hover svg path {
  fill: #1d4387;
  stroke: #1d4387;
}
.header--enter span {
  display: inline-block;
  vertical-align: top;
  color: #75c5ee;
  font-size: 9px;
  line-height: 16px;
  text-transform: uppercase;
  border-bottom: 1px solid #415886;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}
.header--enter svg {
  display: inline-block;
  vertical-align: top;
  width: 9px;
  height: 8px;
  transition: all 0.2s ease-in-out;
  margin-top: 3px;
}
.header--enter svg path {
  fill: #415886;
  stroke: #415886;
  stroke-width: 1px;
}
.header--logo {
  display: inline-block;
  vertical-align: top;
  position: relative;
  z-index: 5;
}
.header--logo img {
  display: block;
  margin: 0 auto 15px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 980px) {
  .header--logo img {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
    height: 36px;
  }
}
.header--logo span {
  display: block;
  text-align: center;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 980px) {
  .header--logo span {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
  }
}
.header--btn {
  margin-top: 19px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 980px) {
  .header--btn {
    display: none;
  }
}
.header--hamburger {
  display: none;
  position: relative;
  z-index: 0;
  width: 21px;
  height: 13px;
  background: url("../img/icon--hamburger.png");
  margin-top: 14px;
}
@media (max-width: 980px) {
  .header--hamburger {
    display: inline-block;
    vertical-align: top;
  }
}
.header--close {
  display: none;
  width: 19px;
  height: 19px;
  background: url("../img/icon--close.png");
  background-size: 100% 100%;
  z-index: 5;
  position: relative;
  margin-top: 7px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 980px) {
  .header--close {
    display: inline-block;
    vertical-align: top;
  }
}
.header--menu {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 3;
  background: rgba(28,40,116,0.9);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -webkit-transform: translateY(-150%);
          transform: translateY(-150%);
  transition: all 0.2s ease-in-out;
}
.header--menu .header--btn,
.header--menu .header--enter {
  display: inline-block;
  width: auto;
}
.footer {
  position: relative;
  padding-bottom: 45px;
}
.footer--social {
  display: block;
  text-align: center;
  margin-bottom: 45px;
}
.footer--social-fb {
  background: url("../img/sprite--social.png") no-repeat 0 0;
}
.footer--social-fb:hover {
  background: url("../img/sprite--social.png") no-repeat 0 -36px;
}
.footer--social-gg {
  background: url("../img/sprite--social.png") no-repeat -36px 0;
}
.footer--social-gg:hover {
  background: url("../img/sprite--social.png") no-repeat -36px -36px;
}
.footer--social-in {
  background: url("../img/sprite--social.png") no-repeat -72px 0;
}
.footer--social-in:hover {
  background: url("../img/sprite--social.png") no-repeat -72px -36px;
}
.footer--social-vk {
  background: url("../img/sprite--social.png") no-repeat -108px 0;
}
.footer--social-vk:hover {
  background: url("../img/sprite--social.png") no-repeat -108px -36px;
}
.footer--social-you {
  background: url("../img/sprite--social.png") no-repeat -144px 0;
}
.footer--social-you:hover {
  background: url("../img/sprite--social.png") no-repeat -144px -36px;
}
.footer--social-tw {
  background: url("../img/sprite--social.png") no-repeat -184px 0;
}
.footer--social-tw:hover {
  background: url("../img/sprite--social.png") no-repeat -184px -36px;
}
.footer--social li {
  display: inline-block;
  vertical-align: top;
  margin: 0 10px;
}
@media (max-width: 980px) {
  .footer--social li {
    margin: 0 5px;
  }
}
.footer--social li a {
  display: block;
  width: 36px;
  height: 30px;
}
.footer--copyright {
  display: block;
  text-align: center;
  font-size: 12px;
}
.decor-text-l {
  font-family: GeometriaHeavy, sans-serif;
  color: #344aa1;
  opacity: 0.08;
  font-size: 316px;
  line-height: 316px;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 32px;
}
.decor-text-s {
  font-family: GeometriaHeavy, sans-serif;
  color: #344aa1;
  opacity: 0.08;
  font-size: 200px;
  line-height: 316px;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 12px;
}
.decor-shadow {
  position: absolute;
  width: 640px;
  height: 640px;
  background: radial-gradient(ellipse at center, rgba(32,58,148,0.5) 0%, rgba(32,58,148,0.5) 1%, rgba(32,58,148,0) 54%, rgba(32,58,148,0) 100%);
  border-radius: 640px;
  margin-left: -320px;
}
.decor-sky {
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  width: 1738px;
  height: 1050px;
}
.popup {
  background: #ccd3f5;
}
.popup--plan {
  width: 640px;
  height: 500px;
  padding: 35px 40px 65px 65px;
  box-sizing: border-box;
  background: #2d6fd1;
}
@media (max-width: 980px) {
  .popup--plan {
    width: auto;
    padding: 15px;
  }
}
.popup--plan .scrollbar-wrap {
  height: 340px;
}
.popup--plan .scrollbar-wrap .video-wrap {
  max-width: 90%;
  margin-bottom: 20px;
}
.popup--plan .scrollbar-wrap .viewport .overview {
  margin-right: 15px;
}
.popup--plan .scrollbar-wrap .scroll-bar {
  width: 5px;
  z-index: 10;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.popup--plan .scrollbar-wrap .scroll-bar .thumb {
  width: 5px;
  border-radius: 3px;
  background: rgba(255,255,255,0.3);
}
@media (max-width: 980px) {
  .popup--plan .scrollbar-wrap .scroll-bar .thumb {
    width: 7px;
  }
}
.popup--plan h3 {
  margin-bottom: 50px;
}
.popup--plan p {
  display: block;
  margin-bottom: 20px;
}
.popup--about {
  width: 640px;
  height: 500px;
  padding: 35px 40px 65px 65px;
  box-sizing: border-box;
}
@media (max-width: 980px) {
  .popup--about {
    width: auto;
    padding: 15px;
  }
}
.popup--about.popup--about-violet {
  background: #6a2dd1;
}
.popup--about.popup--about-blue {
  background: #335ce2;
}
.popup--about.popup--about-blue-light {
  background: #28acd5;
}
.popup--about.popup--about-green {
  background: #11c5bc;
}
.popup--about.popup--about-white {
  background: #f7f9fc;
}
.popup--about.popup--about-white * {
  color: #0e1652;
}
.popup--about.popup--about-white .scroll-bar .thumb {
  background: #0986ef !important;
}
.popup--about .scrollbar-wrap {
  height: 210px;
}
.popup--about .scrollbar-wrap .viewport .overview {
  margin-right: 15px;
}
.popup--about .scrollbar-wrap .scroll-bar {
  width: 5px;
  z-index: 10;
  opacity: 1;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.popup--about .scrollbar-wrap .scroll-bar .thumb {
  width: 5px;
  border-radius: 3px;
  background: rgba(255,255,255,0.3);
}
@media (max-width: 980px) {
  .popup--about .scrollbar-wrap .scroll-bar .thumb {
    width: 7px;
  }
}
.popup--about img {
  margin-left: -20px;
}
.popup--about h3 {
  margin-bottom: 50px;
}
.popup--about p {
  display: block;
  margin-bottom: 20px;
}
.popup--video {
  padding-top: 70px;
  width: 640px;
}
@media (max-width: 980px) {
  .popup--video {
    width: auto;
  }
}
.popup--video .video-wrap {
  width: 640px;
}
@media (max-width: 980px) {
  .popup--video .video-wrap {
    width: auto;
    margin: 0 auto;
  }
}
.popup--video .video-wrap .play-video {
  width: 150px;
  height: 150px;
}
@media (max-width: 980px) {
  .popup--video .video-wrap .play-video {
    width: 80px;
    height: 80px;
  }
}
.popup--video .video-wrap .play-video:after {
  border-width: 18px 0 18px 23px;
}
@media (max-width: 980px) {
  .popup--video .video-wrap .play-video:after {
    border-width: 9px 0 9px 13px;
  }
}
.video-wrap {
  position: relative;
}
.video-wrap .play-video {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 150px;
  background: #4266e5;
  text-shadow: 0 18px 79px rgba(77,137,246,0.5);
  transition: all 0.2s ease-in-out;
  z-index: 10;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.video-wrap .play-video:after {
  border-style: solid;
  border-width: 9px 0 9px 13px;
  border-color: transparent transparent transparent #1d2162;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-48%, -50%, 0);
          transform: translate3d(-48%, -50%, 0);
  position: absolute;
  content: "";
}
.video-wrap .play-video:hover {
  background: #4577e6;
  text-shadow: 0 18px 79px rgba(77,137,246,0.8);
}
.video-wrap .video {
  width: 100%;
}
.top {
  padding-top: 304px;
  z-index: 6;
}
@media (max-width: 980px) {
  .top {
    padding-top: 171px;
  }
}
.top--images {
  pointer-events: none;
}
.top--images .decor-text-l {
  left: 50%;
  top: 302px;
  -webkit-transform: translateX(-49%);
          transform: translateX(-49%);
}
@media (max-width: 980px) {
  .top--images .decor-text-l {
    display: none;
  }
}
.top--images .decor-shadow {
  top: 200px;
  left: 50%;
  margin-left: -320px;
}
@media (max-width: 980px) {
  .top--images .decor-shadow {
    top: -300px;
  }
}
.top--images-grid {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: 125px;
  background-image: url("../img/sprite.png");
  background-position: -739px -1050px;
  width: 941px;
  height: 1049px;
}
.top--images-left-spot {
  position: absolute;
  left: 0;
  top: 7px;
  width: 524px;
  height: 1900px;
  background: url("../img/decor-left-1.png");
}
@media (max-width: 980px) {
  .top--images-left-spot {
    top: -7px;
    background: url("../img/sprite-mobile.png");
    background-position: -577px -227px;
    width: 143px;
    height: 699px;
  }
}
.top--images-right-spot {
  position: absolute;
  right: 0;
  top: 0;
  width: 1089px;
  height: 1116px;
  background: url("../img/decor-right-1.png");
}
@media (max-width: 980px) {
  .top--images-right-spot {
    top: -214px;
    background: url("../img/sprite-mobile.png");
    background-position: 0px -227px;
    width: 320px;
    height: 715px;
  }
}
.top--images-circle {
  position: absolute;
  border-radius: 100%;
  box-shadow: 0 18px 200px rgba(99,77,246,0.6);
  margin-top: 0;
}
.top--images-circle1 {
  left: 50%;
  margin-left: 745px;
  top: -100px;
}
@media (max-width: 980px) {
  .top--images-circle1 {
    top: 400px;
    margin-left: 115px;
  }
}
.top--images-circle1 div {
  width: 280px;
  height: 280px;
}
@media (max-width: 980px) {
  .top--images-circle1 div {
    width: 125px;
    height: 125px;
  }
}
.top--images-circle2 {
  left: 50%;
  margin-left: 625px;
  top: 510px;
}
@media (max-width: 980px) {
  .top--images-circle2 {
    top: 80px;
    margin-left: 85px;
  }
}
.top--images-circle2 div {
  width: 150px;
  height: 150px;
}
@media (max-width: 980px) {
  .top--images-circle2 div {
    width: 55px;
    height: 55px;
  }
}
.top--images-circle3 {
  left: 50%;
  margin-left: -870px;
  top: 465px;
}
@media (max-width: 980px) {
  .top--images-circle3 {
    top: 100px;
    margin-left: -190px;
  }
}
.top--images-circle3 div {
  width: 280px;
  height: 280px;
}
@media (max-width: 980px) {
  .top--images-circle3 div {
    width: 55px;
    height: 55px;
  }
}
.top--images-circle4 {
  left: 50%;
  margin-left: -890px;
  top: 1040px;
}
@media (max-width: 980px) {
  .top--images-circle4 {
    top: 380px;
    margin-left: -155px;
  }
}
.top--images-circle4 div {
  width: 95px;
  height: 95px;
}
@media (max-width: 980px) {
  .top--images-circle4 div {
    width: 25px;
    height: 25px;
  }
}
.top h2.decor-line {
  margin-bottom: 62px;
}
@media (max-width: 980px) {
  .top h2.decor-line {
    margin-bottom: 34px;
  }
}
.top h2 {
  margin-bottom: 50px;
}
.top-list {
  margin: 0 50px 162px;
}
@media (max-width: 980px) {
  .top-list {
    display: block !important;
    margin: 0 auto 101px;
  }
}
.top-list.top-list-grid {
  position: relative;
  margin-bottom: 94px;
}
.top-list.top-list-grid:before {
  position: absolute;
  content: "";
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  background-image: url("../img/sprite.png");
  background-position: -2369px -2584px;
  width: 960px;
  height: 109px;
  opacity: 0.3;
}
.top-list li {
  display: inline-block;
  vertical-align: top;
  width: 190px;
  position: relative;
  z-index: 5;
}
@media (max-width: 980px) {
  .top-list li {
    display: block;
    width: 200px;
    margin: 0 auto 26px;
    line-height: 20px;
  }
}
@media (max-width: 980px) {
  .top-list li span {
    line-height: 20px;
  }
}
.top-list li span strong {
  display: block;
  font-size: 20px;
  line-height: 38px;
  color: #75c5ee;
  text-shadow: 0 0 24px rgba(255,255,255,0.6);
}
.presentation {
  z-index: 5;
  text-align: center;
  padding-bottom: 206px;
}
@media (max-width: 980px) {
  .presentation {
    padding-bottom: 132px;
  }
}
.presentation--images {
  pointer-events: none;
}
.presentation--images .decor-sky {
  -webkit-transform: translate3d(-49%, -61%, 0);
          transform: translate3d(-49%, -61%, 0);
}
.presentation--images .decor-text-l {
  left: 50%;
  top: 220px;
  -webkit-transform: translateX(490px);
          transform: translateX(490px);
  white-space: nowrap;
}
.presentation .width-wrap {
  position: relative;
  z-index: 5;
}
.presentation h2.decor-line {
  margin-top: 144px;
  margin-bottom: 30px;
}
@media (max-width: 980px) {
  .presentation h2.decor-line {
    margin-top: 93px;
    margin-bottom: 30px;
  }
}
.presentation-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-animation: jump 1.5s infinite;
          animation: jump 1.5s infinite;
}
.presentation-link:hover:before {
  -webkit-transform: rotate(180deg) translateX(52%);
          transform: rotate(180deg) translateX(52%);
  top: -110px;
}
@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
.presentation-link:before {
  position: absolute;
  z-index: 1;
  content: "";
  background-image: url("../img/sprite.png");
  background-position: -1738px -2435px;
  width: 313px;
  height: 222px;
  top: 45px;
  left: 50%;
  -webkit-transform: translateX(-48%);
          transform: translateX(-48%);
}
.presentation-link:after {
  position: absolute;
  content: "";
  z-index: 5;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 18px 0 18px 23px;
  border-color: transparent transparent transparent #1d2162;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.presentation-link .bg-circle {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  position: relative;
  z-index: 4;
}
.presentation-link .bg-circle.bg-circle-small {
  position: absolute;
  z-index: 4;
  width: 35px;
  height: 35px;
  top: 180px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes jump {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
.about {
  position: relative;
  padding-bottom: 226px;
}
@media (max-width: 980px) {
  .about {
    padding-bottom: 118px;
  }
}
.about--images {
  pointer-events: none;
}
.about--images-right {
  position: absolute;
  content: "";
  background-image: url("../img/sprite.png");
  background-position: -2369px -994px;
  width: 506px;
  height: 1590px;
  right: 0;
  top: 290px;
}
@media (max-width: 980px) {
  .about--images-right {
    display: none;
  }
}
.about--images .decor-shadow {
  position: absolute;
  width: 640px;
  height: 640px;
  background: radial-gradient(ellipse at center, rgba(32,58,148,0.5) 0%, rgba(32,58,148,0.5) 1%, rgba(32,58,148,0) 54%, rgba(32,58,148,0) 100%);
  border-radius: 640px;
  top: 400px;
  left: 50%;
  margin-left: -500px;
}
.about--images-circle {
  left: 50%;
  margin-left: -600px;
  top: 900px;
  position: absolute;
}
@media (max-width: 980px) {
  .about--images-circle {
    margin-left: -75px;
  }
}
.about--images-circle div {
  width: 190px;
  height: 190px;
}
@media (max-width: 980px) {
  .about--images-circle div {
    width: 150px;
    height: 150px;
  }
}
.about .width-wrap {
  position: relative;
  z-index: 10;
}
.about h2 {
  margin-bottom: 14px;
}
@media (max-width: 980px) {
  .about h2 i {
    display: inline;
  }
}
.about h2 + span {
  display: block;
  text-align: center;
  margin-bottom: 62px;
  letter-spacing: 0;
}
@media (max-width: 980px) {
  .about h2 + span {
    margin-bottom: 32px;
  }
}
.about .tabs {
  display: block;
  position: relative;
  background: #f9fbfe;
  white-space: nowrap;
  margin: 0 auto 30px;
  overflow: hidden;
}
@media (max-width: 980px) {
  .about .tabs {
    width: auto;
    white-space: normal;
  }
}
.about .tabs--caption {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  width: 310px;
  box-sizing: border-box;
  padding: 65px 5px 55px 40px;
}
@media (max-width: 980px) {
  .about .tabs--caption {
    display: none;
  }
}
.about .tabs--caption li {
  display: block;
  margin-bottom: 29px;
  cursor: pointer;
}
.about .tabs--caption li:last-child {
  margin-bottom: 0;
}
.about .tabs--caption li.active {
  cursor: default;
}
.about .tabs--caption li.active span {
  color: #0986ef;
  border-bottom: 1px solid #c9dffb;
}
.about .tabs--caption li:hover span {
  color: #0986ef;
  border-bottom: 1px solid #c9dffb;
}
.about .tabs--caption li span {
  display: inline;
  border-bottom: 1px solid #ebf0f9;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: all 0.2s ease-in-out;
  padding-bottom: 3px;
  font-family: GothamPro, sans-serif;
  color: #0a0f33;
}
.about .tabs--content {
  box-sizing: border-box;
  position: absolute;
  left: -9999px;
  white-space: normal;
  display: inline-block;
  vertical-align: top;
  width: 650px;
  background: #f7f9fc;
  padding: 67px 55px 25px 58px;
  height: 540px;
}
@media (max-width: 980px) {
  .about .tabs--content {
    width: auto;
    display: block;
    position: relative;
    left: auto;
    height: auto;
    padding: 15px 20px;
    background: #ebeff6;
  }
}
.about .tabs--content.active {
  position: relative;
  left: auto;
}
@media (max-width: 980px) {
  .about .tabs--content.active {
    background: #f6f8fc;
  }
}
@media (max-width: 980px) {
  .about .tabs--content.active .tabs--content-title:after {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
.about .tabs--content:hover .scrollbar-wrap .scroll-bar {
  opacity: 1;
}
.about .tabs--content .video-wrap {
  width: 90%;
  margin-bottom: 20px;
  border: none;
  outline: none;
}
.about .tabs--content-title {
  display: inline-block;
  vertical-align: top;
  max-width: 45%;
  font-size: 12px;
  text-transform: uppercase;
  color: #0e1652;
  letter-spacing: 2.3px;
  font-family: GothamPro, sans-serif;
}
@media (max-width: 980px) {
  .about .tabs--content-title {
    width: auto;
    display: block;
    position: relative;
    padding-right: 15px;
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 980px) {
  .about .tabs--content-title:after {
    position: absolute;
    content: "";
    background-image: url("../img/sprite.png");
    background-position: -3301px -994px;
    width: 15px;
    height: 8px;
    right: -10px;
    top: 50%;
    margin-top: -4px;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    transition: all 0.2s ease-in-out;
  }
}
.about .tabs--content .justifyed {
  margin-bottom: 40px;
}
@media (max-width: 980px) {
  .about .tabs--content .justifyed {
    margin-bottom: 0;
  }
}
.about .tabs--content-link {
  display: inline-block;
  vertical-align: top;
  max-width: 45%;
}
@media (max-width: 980px) {
  .about .tabs--content-link {
    display: none;
  }
}
.about .tabs--content-link:hover span {
  color: #67bcf2;
}
.about .tabs--content-link span {
  font-size: 12px;
  text-transform: uppercase;
  color: #2697df;
  border-bottom: 1px solid #c9dffb;
  margin-right: 3px;
  letter-spacing: 2.3px;
}
.about .tabs--content-link svg {
  width: 9px;
  height: 8px;
  transition: all 0.2s ease-in-out;
}
.about .tabs--content-link svg path {
  fill: #797fa3;
  stroke: #797fa3;
  stroke-width: 1px;
}
.about .tabs--content .scrollbar-wrap {
  height: 390px;
}
@media (max-width: 980px) {
  .about .tabs--content .scrollbar-wrap {
    height: auto;
  }
}
@media (max-width: 980px) {
  .about .tabs--content .scrollbar-wrap > *:nth-child(1) {
    margin-top: 20px;
  }
}
.about .tabs--content .scrollbar-wrap .scroll-bar {
  width: 5px;
  z-index: 10;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.about .tabs--content .scrollbar-wrap .scroll-bar .thumb {
  width: 5px;
  border-radius: 3px;
  background: #61a9dd;
}
.about .tabs--content .scrollbar-wrap p {
  color: #0e1652;
  margin-bottom: 35px;
}
.about .tabs--content .scrollbar-wrap .video {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 35px;
  max-width: 100%;
}
.about .tabs--content .scrollbar-wrap .video:hover:before {
  background: #4478e6;
  box-shadow: 0 18px 49px rgba(77,137,246,0.7);
}
.about .tabs--content .scrollbar-wrap .video:before {
  position: absolute;
  content: "";
  width: 75px;
  height: 75px;
  border-radius: 75px;
  background: #0986ef;
  opacity: 0.7;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
  box-shadow: 0 18px 49px rgba(77,137,246,0.4);
  transition: all 0.2s ease-in-out;
}
.about .tabs--content .scrollbar-wrap .video:after {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 10px 0 10px 13px;
  border-color: transparent transparent transparent #1d2162;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3D(-40%, -50%, 0);
          transform: translate3D(-40%, -50%, 0);
}
.about .tabs--content .scrollbar-wrap .video img {
  display: block;
  max-width: 100%;
}
.about .tabs--content .scrollbar-wrap *:last-child {
  margin-bottom: 0;
}
.faq {
  padding-bottom: 190px;
}
@media (max-width: 980px) {
  .faq {
    padding-bottom: 119px;
  }
}
.faq--images {
  pointer-events: none;
}
@media (max-width: 980px) {
  .faq--images {
    display: none;
  }
}
.faq--images .decor-shadow {
  top: 0;
  left: 50%;
  margin-left: -950px;
}
.faq--images .decor-text-l {
  left: 50%;
  top: 200px;
  -webkit-transform: translateX(-2000px);
          transform: translateX(-2000px);
}
.faq--images-circle {
  position: absolute;
  top: 610px;
  left: 50%;
  margin-left: 670px;
}
.faq--images-circle div {
  width: 190px;
  height: 190px;
}
.faq h2 {
  margin-bottom: 45px;
}
@media (max-width: 980px) {
  .faq h2 {
    margin-bottom: 25px;
  }
}
@media (max-width: 980px) {
  .faq .justifyed {
    display: block !important;
    margin-bottom: 14px;
  }
}
.faq .justifyed.vertical-strech {
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-align: stretch;
      align-items: stretch;
}
.faq--el {
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: start;
      align-items: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  position: relative;
  height: 210px;
  margin-bottom: 28px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 980px) {
  .faq--el {
    margin-bottom: 14px;
  }
}
.faq--el:last-child {
  margin-bottom: 0;
}
.faq--el:hover .icon-arrow svg {
  -webkit-animation: shake 0.5s;
          animation: shake 0.5s;
}
.faq--el.faq--el-text {
  background: #f7f9fc;
  height: 450px;
  box-sizing: border-box;
  padding: 55px;
}
@media (max-width: 980px) {
  .faq--el.faq--el-text {
    height: auto;
    padding: 35px 20px;
  }
}
.faq--el.faq--el-text h3 {
  color: #0e1652;
  margin-bottom: 20px;
  display: block;
  padding-left: 0;
}
@media (max-width: 980px) {
  .faq--el.faq--el-text h3 {
    margin-bottom: 15px;
  }
}
.faq--el.faq--el-text p {
  line-height: 26px;
  margin-bottom: 20px;
  color: #0e1652;
}
.faq--el.faq--el-text a {
  display: inline-block;
  vertical-align: top;
  color: #0986ef;
  border-bottom: 1px solid #a8cbf8;
}
.faq--el.faq--el-purple {
  background: url("../img/bg--about-1.jpg") no-repeat 0 0;
  background-size: cover;
  box-shadow: 0 17px 46px rgba(114,48,212,0);
}
@media (max-width: 980px) {
  .faq--el.faq--el-purple {
    height: 160px;
  }
}
.faq--el.faq--el-purple:hover {
  box-shadow: 0 17px 46px rgba(114,48,212,0.8);
}
.faq--el.faq--el-blue {
  background: url("../img/bg--about-2.jpg") no-repeat 0 0;
  background-size: cover;
  box-shadow: 0 17px 46px rgba(53,94,228,0);
}
@media (max-width: 980px) {
  .faq--el.faq--el-blue {
    height: 160px;
  }
}
.faq--el.faq--el-blue:hover {
  box-shadow: 0 17px 46px rgba(53,94,228,0.7);
}
.faq--el.faq--el-blue-light {
  background: url("../img/bg--about-3.jpg") no-repeat 0 0;
  background-size: cover;
  box-shadow: 0 17px 46px rgba(41,173,214,0);
}
@media (max-width: 980px) {
  .faq--el.faq--el-blue-light {
    height: 160px;
  }
}
.faq--el.faq--el-blue-light:hover {
  box-shadow: 0 17px 46px rgba(41,173,214,0.7);
}
.faq--el.faq--el-green {
  background: url("../img/bg--about-4.jpg") no-repeat 0 0;
  background-size: cover;
  box-shadow: 0 17px 46px rgba(17,197,188,0);
}
@media (max-width: 980px) {
  .faq--el.faq--el-green {
    height: 160px;
  }
}
.faq--el.faq--el-green:hover {
  box-shadow: 0 17px 46px rgba(17,197,188,0.7);
}
.faq--el img {
  display: block;
  margin-top: -31px;
  margin-left: 10px;
  margin-bottom: -10px;
}
.faq--el h3 {
  padding-left: 40px;
  margin-bottom: 10px;
}
@media (max-width: 980px) {
  .faq--el h3 {
    width: auto;
    max-width: 80%;
    white-space: normal;
  }
}
@media (max-width: 980px) {
  .faq--el h3 i {
    display: inline;
  }
}
.faq--el span {
  margin-left: 40px;
  border-bottom: 1px solid rgba(255,255,255,0.4);
}
.faq--el .icon-arrow {
  position: absolute;
  bottom: 19px;
  right: 29px;
  z-index: 10;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.faq--el .icon-arrow svg {
  width: 12px;
  height: 9px;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.faq--el .icon-arrow svg path {
  fill: #ccd3f5;
  stroke: #ccd3f5;
  stroke-width: 1px;
}
@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes shake {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  50% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
.faq *.one-third {
  width: 335px;
}
@media (max-width: 980px) {
  .faq *.one-third {
    width: 100%;
  }
}
.faq *.two-third {
  width: 600px;
}
@media (max-width: 980px) {
  .faq *.two-third {
    width: 100%;
  }
}
.invest {
  position: relative;
  padding-bottom: 129px;
}
@media (max-width: 980px) {
  .invest {
    padding-bottom: 244px;
  }
}
.invest--images {
  pointer-events: none;
}
.invest--images-left {
  position: absolute;
  left: 0;
  top: -340px;
  background-image: url("../img/sprite.png");
  background-position: 0px -1050px;
  width: 739px;
  height: 1778px;
  z-index: 2;
}
@media (max-width: 980px) {
  .invest--images-left {
    background: url("../img/sprite-mobile.png");
    background-position: -457px -926px;
    width: 128px;
    height: 581px;
    top: 345px;
  }
}
.invest--images .decor-sky {
  position: absolute;
  left: 50%;
  top: 50%;
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  width: 1738px;
  height: 1050px;
  -webkit-transform: translate3d(-49%, -65%, 0);
          transform: translate3d(-49%, -65%, 0);
  z-index: 1;
}
.invest--images-circle1 {
  position: absolute;
  left: -225px;
  top: -205px;
  z-index: 2;
}
@media (max-width: 980px) {
  .invest--images-circle1 {
    left: 50%;
    margin-left: 115px;
    top: 540px;
  }
}
.invest--images-circle1 div {
  width: 450px;
  height: 450px;
}
@media (max-width: 980px) {
  .invest--images-circle1 div {
    width: 250px;
    height: 250px;
  }
}
.invest--images-circle2 {
  position: absolute;
  left: 50%;
  margin-left: -905px;
  top: 1805px;
  z-index: 2;
}
@media (max-width: 980px) {
  .invest--images-circle2 {
    margin-left: -125px;
    top: 1645px;
  }
}
.invest--images-circle2 div {
  width: 160px;
  height: 160px;
}
@media (max-width: 980px) {
  .invest--images-circle2 div {
    width: 25px;
    height: 25px;
  }
}
@media (max-width: 980px) {
  .invest .width-wrap {
    padding: 0;
  }
}
.invest h2 {
  position: relative;
  z-index: 5;
}
.invest-list {
  display: block;
  margin: 0 auto;
  background-image: url("../img/sprite.png");
  background-position: -2369px 0px;
  width: 971px;
  height: 994px;
  position: relative;
  margin-left: -61px;
  margin-top: -234px;
}
@media (max-width: 980px) {
  .invest-list {
    background-image: url("../img/sprite.png");
    background-position: -1738px -1931px;
    width: 320px;
    height: 504px;
    margin: 38px auto 0;
    height: 504px;
  }
}
.invest-list--el {
  position: absolute;
}
@media (max-width: 980px) {
  .invest-list--el {
    left: 0 !important;
    right: 0 !important;
    text-align: center;
    margin-left: 0;
  }
}
.invest-list--el:nth-child(1) {
  top: 530px;
  left: 143px;
}
@media (max-width: 980px) {
  .invest-list--el:nth-child(1) {
    top: 15px;
  }
}
.invest-list--el:nth-child(2) {
  top: 466px;
  left: 355px;
}
@media (max-width: 980px) {
  .invest-list--el:nth-child(2) {
    top: 140px;
  }
}
.invest-list--el:nth-child(3) {
  top: 697px;
  left: 506px;
}
@media (max-width: 980px) {
  .invest-list--el:nth-child(3) {
    top: 230px;
  }
}
.invest-list--el:nth-child(4) {
  top: 573px;
  left: 666px;
}
@media (max-width: 980px) {
  .invest-list--el:nth-child(4) {
    top: 315px;
  }
}
.invest-list--el:nth-child(5) {
  top: 781px;
  left: 791px;
}
@media (max-width: 980px) {
  .invest-list--el:nth-child(5) {
    top: 400px;
  }
}
.invest-list--el:nth-child(6) {
  top: 454px;
  left: 875px;
  padding-right: 30px;
}
@media (max-width: 980px) {
  .invest-list--el:nth-child(6) {
    padding-right: 0;
    top: 492px;
  }
}
.invest-list--el:nth-child(6) .icon {
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -10px;
}
@media (max-width: 980px) {
  .invest-list--el:nth-child(6) .icon {
    position: relative;
    margin-top: 0;
    top: auto;
    right: auto;
  }
}
.invest-list--el:hover .invest-list--el-header div span {
  color: #0986ef;
  border-bottom: 1px solid #46679f;
  text-shadow: 0 0 40px #95bcf7;
}
.invest-list--el:hover .invest-list--el-content,
.invest-list--el:hover .invest-list--el-content-wrap {
  z-index: 10;
  opacity: 1;
  pointer-events: auto;
}
.invest-list--el-video {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-bottom: 35px;
  max-width: 100%;
  width: 150px;
  height: 150px;
}
@media (max-width: 980px) {
  .invest-list--el-video {
    width: 86px;
    height: 86px;
  }
}
.invest-list--el-video:hover:before {
  background: #4478e6;
  box-shadow: 0 18px 49px rgba(77,137,246,0.6);
}
.invest-list--el-video:before {
  position: absolute;
  content: "";
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background: #4266e5;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3D(-50%, -50%, 0);
          transform: translate3D(-50%, -50%, 0);
  box-shadow: 0 18px 49px rgba(77,137,246,0.4);
  transition: all 0.2s ease-in-out;
}
@media (max-width: 980px) {
  .invest-list--el-video:before {
    -webkit-transform: translate3D(-50%, -50%, 0);
            transform: translate3D(-50%, -50%, 0);
    background: linear-gradient(135deg, #17d0d6 1%, #6145d4 100%);
    width: 86px;
    height: 86px;
  }
}
.invest-list--el-video:after {
  position: absolute;
  content: "";
  border-style: solid;
  border-width: 19px 0 19px 26px;
  border-color: transparent transparent transparent #1d2162;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3D(-40%, -50%, 0);
          transform: translate3D(-40%, -50%, 0);
}
@media (max-width: 980px) {
  .invest-list--el-video:after {
    -webkit-transform: translate3D(-50%, -50%, 0);
            transform: translate3D(-50%, -50%, 0);
    border-width: 9px 0 9px 15px;
  }
}
.invest-list--el-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-align: center;
      align-items: center;
}
@media (max-width: 980px) {
  .invest-list--el-header {
    display: block;
    text-align: center;
  }
}
.invest-list--el-header .icon {
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  display: inline-block;
  vertical-align: top;
  margin-right: 25px;
}
@media (max-width: 980px) {
  .invest-list--el-header .icon {
    display: block;
    margin: 0 auto 5px;
  }
}
.invest-list--el-header div {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 980px) {
  .invest-list--el-header div {
    display: block;
    text-align: center;
  }
}
.invest-list--el-header div span {
  display: inline;
  white-space: nowrap;
  color: #75c5ee;
  margin-right: 25px;
  border-bottom: 1px solid #3d5b90;
  text-shadow: 0 0 20px rgba(149,188,247,0);
  transition: all 0.2s ease-in-out;
}
@media (max-width: 980px) {
  .invest-list--el-header div span {
    margin: 0;
    white-space: nowrap;
  }
}
@media (max-width: 980px) {
  .invest-list--el-header div span i {
    display: inline;
  }
}
.invest-list--el-content-wrap {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  padding-top: 30px;
  transition: all 0.2s ease-in-out;
  pointer-events: none;
  opacity: 0;
  margin-top: -5px;
}
.invest-list--el-content {
  display: block;
  width: 320px;
  background: #fff;
  padding: 35px;
  position: relative;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  box-sizing: border-box;
}
.invest-list--el-content:before {
  position: absolute;
  content: "";
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  top: -15px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 11px 15px 11px;
  border-color: transparent transparent #fff transparent;
}
.invest-list--el-content p {
  display: block;
  color: #0e1652;
  margin-bottom: 20px;
  line-height: 26px;
}
.invest-list--el-content p:last-child {
  margin-bottom: 0;
}
.plan {
  padding-bottom: 400px;
  z-index: 10;
}
@media (max-width: 980px) {
  .plan {
    padding-bottom: 240px;
  }
}
.plan--images {
  pointer-events: none;
}
.plan--images .decor-text-s {
  left: 50%;
  top: 800px;
  margin-left: -1500px;
}
@media (max-width: 980px) {
  .plan--images .decor-text-s {
    top: 1140px;
    margin-left: -835px;
  }
}
.plan--images .decor-shadow {
  position: absolute;
  width: 640px;
  height: 640px;
  background: radial-gradient(ellipse at center, rgba(32,58,148,0.5) 0%, rgba(32,58,148,0.5) 1%, rgba(32,58,148,0) 54%, rgba(32,58,148,0) 100%);
  border-radius: 640px;
  top: 600px;
  left: 50%;
  margin-left: -1300px;
}
.plan--images-right {
  position: absolute;
  top: -100px;
  right: 0;
  background-image: url("../img/sprite.png");
  background-position: -1738px 0px;
  width: 631px;
  height: 1931px;
  z-index: 2;
}
@media (max-width: 980px) {
  .plan--images-right {
    top: 870px;
    background: url("../img/sprite-mobile.png");
    background-position: -320px -768px;
    width: 137px;
    height: 538px;
  }
}
.plan--images-table {
  top: 330px;
  left: 50%;
  position: absolute;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url("../img/sprite.png");
  background-position: 0px -2828px;
  width: 1920px;
  height: 421px;
  opacity: 0.3;
}
@media (max-width: 980px) {
  .plan--images-table {
    display: none;
  }
}
.plan--images-circle {
  position: absolute;
  top: 1560px;
  left: 50%;
  margin-left: 665px;
  z-index: 2;
}
@media (max-width: 980px) {
  .plan--images-circle {
    top: 2520px;
    margin-left: -140px;
  }
}
.plan--images-circle div {
  width: 160px;
  height: 160px;
}
@media (max-width: 980px) {
  .plan--images-circle div {
    width: 50px;
    height: 50px;
  }
}
.plan h2 {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
@media (max-width: 980px) {
  .plan h2 {
    display: block;
    margin-bottom: 25px;
    text-align: center;
  }
}
@media (max-width: 980px) {
  .plan h2 i {
    display: inline;
  }
}
.plan .width-wrap > .justifyed {
  margin-bottom: 90px;
}
@media (max-width: 980px) {
  .plan .width-wrap > .justifyed {
    display: block !important;
    margin-bottom: 32px;
  }
}
.plan-text {
  display: inline-block;
  vertical-align: top;
  width: 480px;
  padding-right: 35px;
  box-sizing: border-box;
  margin-top: 2px;
}
@media (max-width: 980px) {
  .plan-text {
    display: block;
    width: auto;
  }
}
.plan-text p {
  display: block;
  margin-bottom: 26px;
  line-height: 26px;
  letter-spacing: 0;
}
.plan-text p:last-child {
  margin-bottom: 0;
}
.plan--year {
  margin-bottom: 79px;
  position: relative;
}
@media (max-width: 980px) {
  .plan--year {
    margin-bottom: 14px;
  }
}
.plan--year span {
  display: inline-block;
  vertical-align: top;
  color: #525caf;
  font-size: 12px;
  text-transform: uppercase;
}
@media (max-width: 980px) {
  .plan--year span {
    margin-left: 17px;
  }
}
@media (max-width: 980px) {
  .plan--year span:last-child {
    position: absolute;
    left: 0;
    top: 730px;
  }
}
.plan-list {
  position: relative;
}
@media (max-width: 980px) {
  .plan-list {
    margin-left: 21px;
  }
}
.plan-list:before {
  position: absolute;
  content: "";
  right: -185px;
  width: 2000px;
  height: 1px;
  background: #4d49a1;
  top: 50%;
}
@media (max-width: 980px) {
  .plan-list:before {
    top: 5px;
    bottom: 5px;
    width: 1px;
    height: auto;
    right: auto;
    left: 0;
  }
}
.plan-list--el {
  display: inline-block;
  vertical-align: top;
  width: 77px;
  position: relative;
  height: 190px;
}
@media (max-width: 980px) {
  .plan-list--el {
    height: auto;
    display: block;
    width: auto;
    margin-bottom: 40px;
  }
}
@media (max-width: 980px) {
  .plan-list--el:last-child {
    margin-bottom: 0;
  }
}
.plan-list--el:nth-child(odd):before {
  top: 40px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.plan-list--el:nth-child(odd) .plan-list--el-text {
  top: -3px;
}
@media (max-width: 980px) {
  .plan-list--el:nth-child(odd) .plan-list--el-text {
    top: auto;
  }
}
.plan-list--el:nth-child(odd) .plan-list--el-popup-wrap {
  padding-top: 50px;
  -webkit-transform: translateY(100px);
          transform: translateY(100px);
}
.plan-list--el:nth-child(odd) .plan-list--el-popup:before {
  top: -25px;
  border-width: 25px 0 0 25px;
  border-color: transparent transparent transparent #fff;
}
.plan-list--el:nth-child(even):before {
  top: 100px;
}
.plan-list--el:nth-child(even) .plan-list--el-text {
  top: 147px;
}
@media (max-width: 980px) {
  .plan-list--el:nth-child(even) .plan-list--el-text {
    top: auto;
  }
}
.plan-list--el:nth-child(even) .plan-list--el-popup-wrap {
  padding-bottom: 50px;
  top: 0;
  -webkit-transform: translateY(calc(-100% + 90px));
          transform: translateY(calc(-100% + 90px));
}
.plan-list--el:nth-child(even) .plan-list--el-popup:before {
  bottom: -25px;
}
.plan-list--el:nth-child(7) .plan-list--el-popup-wrap,
.plan-list--el:nth-child(8) .plan-list--el-popup-wrap,
.plan-list--el:nth-child(9) .plan-list--el-popup-wrap,
.plan-list--el:nth-child(10) .plan-list--el-popup-wrap,
.plan-list--el:nth-child(11) .plan-list--el-popup-wrap {
  left: auto;
  right: 77px;
}
.plan-list--el:nth-child(7) .plan-list--el-popup:before,
.plan-list--el:nth-child(9) .plan-list--el-popup:before,
.plan-list--el:nth-child(11) .plan-list--el-popup:before {
  border-width: 0 0 25px 25px;
  border-color: transparent transparent #fff transparent;
  right: 0;
  left: auto;
}
.plan-list--el:nth-child(8) .plan-list--el-popup:before,
.plan-list--el:nth-child(10) .plan-list--el-popup:before {
  border-width: 0 25px 25px 0;
  border-color: transparent #fff transparent transparent;
  right: 0;
  left: auto;
}
.plan-list--el:hover .plan-list--el-icon {
  width: 26px;
  height: 26px;
  border-radius: 26px;
  background: linear-gradient(to bottom, #a1d2fb 0%, #046fff 100%);
  box-shadow: 0 0 27px rgba(117,129,234,0.8);
  -webkit-transform: translate3d(-13px, -13px, 0);
          transform: translate3d(-13px, -13px, 0);
}
.plan-list--el:hover .plan-list--el-icon:after {
  width: 12px;
  height: 12px;
  border-radius: 13px;
}
.plan-list--el:hover .plan-list--el-text span {
  color: #4495f9;
  border-bottom: 1px solid #3e539d;
}
.plan-list--el:before {
  position: absolute;
  content: "";
  left: 0;
  width: 1px;
  height: 50px;
  background: linear-gradient(to bottom, #7080bc 0%, rgba(112,128,188,0) 100%);
}
@media (max-width: 980px) {
  .plan-list--el:before {
    -webkit-transform: rotate(-90deg) !important;
            transform: rotate(-90deg) !important;
    left: 20px !important;
    top: -15px !important;
  }
}
.plan-list--el-icon {
  display: block;
  position: absolute;
  -webkit-transform: translate3d(-8px, -8px, 0);
          transform: translate3d(-8px, -8px, 0);
  width: 16px;
  height: 16px;
  border-radius: 16px;
  top: 50%;
  background: linear-gradient(to bottom, #ab94fe 0%, #573be4 100%);
  box-shadow: 0 0 21px rgba(117,129,234,0.4);
  transition: all 0.2s ease-in-out;
}
.plan-list--el-icon:after {
  position: absolute;
  content: "";
  background: #252f7c;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}
.plan-list--el-icon:hover + .plan-list--el-text + .plan-list--el-popup-wrap {
  opacity: 1;
  pointer-events: auto;
}
.plan-list--el-text {
  width: 100px;
  position: absolute;
}
@media (max-width: 980px) {
  .plan-list--el-text {
    position: relative;
    width: auto;
    margin-left: 55px;
  }
}
.plan-list--el-text:hover + .plan-list--el-popup-wrap {
  opacity: 1;
  pointer-events: auto;
}
.plan-list--el-text span {
  left: 0;
  line-height: 20px;
  color: #75c5ee;
  border-bottom: 1px solid #535e94;
  transition: all 0.2s ease-in-out;
  text-shadow: 0 0 21px rgba(117,129,234,0.2);
}
.plan-list--el-popup-wrap {
  position: absolute;
  left: 0;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
}
.plan-list--el-popup-wrap:hover {
  opacity: 1;
  pointer-events: auto;
}
@media (max-width: 980px) {
  .plan-list--el-popup-wrap {
    top: 20px !important;
    width: auto;
    left: 0 !important;
    right: 0 !important;
    -webkit-transform: none !important;
            transform: none !important;
    padding: 0 !important;
  }
}
.plan-list--el-popup {
  padding: 15px;
  background: #fff;
  width: 500px;
  position: relative;
}
@media (max-width: 980px) {
  .plan-list--el-popup {
    width: auto;
  }
}
.plan-list--el-popup:before {
  position: absolute;
  content: "";
  left: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 25px 25px 0 0;
  border-color: #fff transparent transparent transparent;
}
@media (max-width: 980px) {
  .plan-list--el-popup:before {
    display: none;
  }
}
.plan-list--el-popup * {
  color: #0e1652;
}
.team {
  text-align: center;
  padding-bottom: 278px;
  z-index: 9;
}
@media (max-width: 980px) {
  .team {
    padding-bottom: 161px;
  }
}
.team--images {
  pointer-events: none;
}
@media (max-width: 980px) {
  .team--images {
    display: none;
  }
}
.team--images .decor-shadow {
  top: 700px;
  left: 50%;
  margin-left: -480px;
}
.team--images-circle2 {
  position: absolute;
  left: 50%;
  top: 475px;
  margin-left: 240px;
}
.team--images-circle2 div {
  width: 460px;
  height: 460px;
}
.team--images-circle1 {
  position: absolute;
  left: 50%;
  top: 2175px;
  margin-left: -535px;
  z-index: 50;
}
.team--images-circle1 div {
  width: 100px;
  height: 100px;
}
.team h2 {
  margin-bottom: 39px;
}
@media (max-width: 980px) {
  .team h2 {
    margin-bottom: 29px;
  }
}
.team h3 {
  color: #0e1652;
  margin-bottom: 41px;
  text-align: center;
}
@media (max-width: 980px) {
  .team h3 {
    margin-bottom: 27px;
  }
}
.team-people {
  display: block;
  background: #f7f9fc;
  margin-bottom: 185px;
}
@media (max-width: 980px) {
  .team-people {
    margin-bottom: 88px;
  }
}
.team-people--top {
  padding: 60px 130px;
}
@media (max-width: 980px) {
  .team-people--top {
    padding: 35px 0;
  }
}
.team-people--top ul {
  position: relative;
}
@media (max-width: 980px) {
  .team-people--top ul {
    display: block !important;
    width: 100%;
  }
}
.team-people--top ul .owl-nav div {
  position: absolute;
  width: 21px;
  height: 16px;
  top: 77px;
}
.team-people--top ul .owl-nav .owl-prev {
  background: url("../img/sprite-mobile.png") no-repeat 0 -1507px;
  left: 20px;
}
.team-people--top ul .owl-nav .owl-next {
  background: url("../img/sprite-mobile.png") no-repeat -21px -1507px;
  right: 20px;
}
.team-people--top ul li {
  width: 30%;
}
@media (max-width: 980px) {
  .team-people--top ul li {
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
.team-people--top ul li * {
  color: #0e1652;
}
.team-people--top ul li .team-people-img {
  width: 144px;
  height: 144px;
}
.team-people--top ul li .team-people-img img {
  width: 144px;
  height: 144px;
}
.team-people--bottom {
  padding: 50px 96px 41px;
  background: #f1f2fc;
}
@media (max-width: 980px) {
  .team-people--bottom {
    padding: 35px 0;
    display: block !important;
  }
}
.team-people--bottom h3 {
  margin-bottom: 33px;
}
@media (max-width: 980px) {
  .team-people--bottom h3 {
    margin-bottom: 26px;
  }
}
.team-people--bottom ul {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}
.team-people--bottom ul .owl-nav div {
  position: absolute;
  width: 21px;
  height: 16px;
  top: 40px;
}
.team-people--bottom ul .owl-nav .owl-prev {
  background: url("../img/sprite-mobile.png") no-repeat 0 -1507px;
  left: 20px;
}
.team-people--bottom ul .owl-nav .owl-next {
  background: url("../img/sprite-mobile.png") no-repeat -21px -1507px;
  right: 20px;
}
.team-people--bottom ul li {
  width: 22%;
  margin-bottom: 38px;
}
@media (max-width: 980px) {
  .team-people--bottom ul li {
    margin-bottom: 0;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
.team-people--bottom ul li * {
  color: #0e1652;
}
.team-people--bottom ul li .team-people-img {
  width: 100px;
  height: 100px;
  margin: 0 auto 21px;
}
@media (max-width: 980px) {
  .team-people--bottom ul li .team-people-img {
    width: 80px;
    height: 80px;
  }
}
.team-people--bottom ul li .team-people-img img {
  width: 100px;
  height: 100px;
}
@media (max-width: 980px) {
  .team-people--bottom ul li .team-people-img img {
    width: 80px;
    height: 80px;
  }
}
.team-people-img {
  display: block;
  margin: 0 auto 22px;
  position: relative;
  border-radius: 100%;
  overflow: hidden;
}
.team-people-img:before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(12,20,85,0.4);
  z-index: 10;
}
.team-people-img img {
  border-radius: 100%;
  position: relative;
  z-index: 5;
}
.team-people-name {
  display: block;
  text-align: center;
  color: #4d527e;
  line-height: 22px;
  margin-bottom: 5px;
}
@media (max-width: 980px) {
  .team-people-name i {
    display: inline;
  }
}
.team ul li {
  display: inline-block;
  vertical-align: top;
  text-align: center;
}
.team-link {
  position: relative;
  display: inline-block;
  vertical-align: top;
  -webkit-animation: jump 1.5s infinite;
          animation: jump 1.5s infinite;
}
.team-link:hover .bg-circle {
  background: linear-gradient(135deg, #6145d4 1%, #17d0d6 100%);
}
.team-link:hover:before {
  -webkit-transform: rotate(180deg) translateX(52%);
          transform: rotate(180deg) translateX(52%);
  top: -110px;
}
.team-link .bg-circle {
  transition: all 0.2s ease-in-out;
}
@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
.team-link:before {
  position: absolute;
  z-index: 1;
  content: "";
  background-image: url("../img/sprite.png");
  background-position: -1738px -2435px;
  width: 313px;
  height: 222px;
  top: 45px;
  left: 50%;
  -webkit-transform: translateX(-48%);
          transform: translateX(-48%);
}
.team-link .bg-circle {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  position: relative;
  z-index: 4;
  overflow: hidden;
}
.team-link .bg-circle img {
  display: block;
  margin: 24px auto 0px;
}
.team-link .bg-circle span {
  display: inline-block;
  vertical-align: top;
  border-bottom: 1px solid #7bb3e2;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
.team-link .bg-circle.bg-circle-small {
  position: absolute;
  z-index: 4;
  width: 50px;
  height: 50px;
  top: 193px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@-webkit-keyframes jump {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
@keyframes jump {
  0% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  50% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
}
.course {
  text-align: center;
  padding-bottom: 290px;
}
@media (max-width: 980px) {
  .course {
    padding-bottom: 106px;
  }
}
.course--images {
  pointer-events: none;
}
@media (max-width: 980px) {
  .course--images {
    display: none;
  }
}
.course--images-left {
  position: absolute;
  left: -100px;
  top: -580px;
  width: 524px;
  height: 1900px;
  background: url("../img/decor-left-1.png");
}
.course--images-circle1 {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: 835px;
}
.course--images-circle1 div {
  width: 280px;
  height: 280px;
}
.course--images-circle2 {
  position: absolute;
  top: 2300px;
  left: 50%;
  margin-left: -883px;
}
.course--images-circle2 div {
  width: 100px;
  height: 100px;
}
.course--images-shadow {
  position: absolute;
  width: 640px;
  height: 640px;
  background: radial-gradient(ellipse at center, rgba(32,58,148,0.5) 0%, rgba(32,58,148,0.5) 1%, rgba(32,58,148,0) 54%, rgba(32,58,148,0) 100%);
  border-radius: 640px;
  top: 200px;
  left: 50%;
  margin-left: -320px;
}
.course--images .decor-sky {
  left: 50%;
  top: 50%;
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  width: 1738px;
  height: 1050px;
  -webkit-transform: translate3d(-49%, -94%, 0);
          transform: translate3d(-49%, -94%, 0);
}
.course--images .decor-text-s {
  left: 50%;
  top: 350px;
  margin-left: 600px;
}
.course h2 {
  margin-bottom: 50px;
}
@media (max-width: 980px) {
  .course h2 i {
    display: inline;
  }
}
.course-scheme {
  display: block;
  width: 430px;
  height: 341px;
  margin-left: -34px;
}
.course-scheme a {
  display: none !important;
}
.course-value {
  font-family: GeometriaHeavy, sans-serif;
  display: block;
  text-align: center;
  font-size: 55px;
  line-height: 55px;
  color: #80bcef;
  text-shadow: 0 0 59px rgba(145,153,225,0.4);
  text-transform: uppercase;
  letter-spacing: 12px;
  margin-bottom: 136px;
}
@media (max-width: 980px) {
  .course-value {
    font-size: 30px;
    letter-spacing: 5px;
    margin-bottom: 16px;
  }
}
.course .justifyed {
  border: 1px solid #242f72;
}
@media (max-width: 980px) {
  .course .justifyed {
    display: block !important;
    border: none;
  }
}
.course .justifyed .one-half {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  width: 50%;
}
@media (max-width: 980px) {
  .course .justifyed .one-half {
    display: block;
    width: 100%;
    margin-bottom: 62px;
  }
}
.course .justifyed .one-half:first-child {
  height: 320px;
}
@media (max-width: 980px) {
  .course .justifyed .one-half:last-child {
    padding-bottom: 43px;
    border: 1px solid #242f72;
  }
}
.course .calculate {
  padding-top: 63px;
  text-align: center;
}
@media (max-width: 980px) {
  .course .calculate {
    padding-top: 38px;
  }
}
.course .calculate--data {
  display: inline-block;
  vertical-align: top;
  width: 275px;
}
@media (max-width: 980px) {
  .course .calculate--data {
    display: block;
    width: auto;
    text-align: center;
  }
}
.course .calculate--data span {
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media (max-width: 980px) {
  .course .calculate--data span {
    margin-bottom: 19px;
  }
}
.course .calculate--data .inp {
  display: block;
  width: 190px;
  border: none;
  background: transparent;
  border-bottom: 1px solid #2e3d78;
  text-align: left;
  padding-left: 0;
  height: 30px;
  color: #8ab2fa;
  font-size: 30px;
  outline: none;
  box-shadow: none;
  -webkit-appearance: none;
}
@media (max-width: 980px) {
  .course .calculate--data .inp {
    margin: 0 auto 37px;
  }
}
.course .calculate--data .inp::-webkit-input-placeholder {
  color: #2e3d78;
  font-size: 13px;
  line-height: 30px;
}
.course .calculate--data .inp::-moz-placeholder {
  color: #2e3d78;
  font-size: 13px;
  line-height: 30px;
}
.course .calculate--data .inp:-ms-input-placeholder {
  color: #2e3d78;
  font-size: 13px;
  line-height: 30px;
}
.course .calculate--data .inp::placeholder {
  color: #2e3d78;
  font-size: 13px;
  line-height: 30px;
}
.course .calculate--data .inp:focus::-webkit-input-placeholder {
  color: transparent;
}
.course .calculate--data .inp:focus::-moz-placeholder {
  color: transparent;
}
.course .calculate--data .inp:focus:-ms-input-placeholder {
  color: transparent;
}
.course .calculate--data .inp:focus::placeholder {
  color: transparent;
}
.course .calculate--profit {
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 980px) {
  .course .calculate--profit {
    display: block;
    width: auto;
    text-align: center;
  }
}
.course .calculate--profit span {
  display: block;
  font-size: 13px;
  line-height: 20px;
  margin-bottom: 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
}
@media (max-width: 980px) {
  .course .calculate--profit span {
    margin-bottom: 19px;
  }
}
.course .calculate--profit span.calculate--profit-value {
  display: block;
  color: #8ab2fa;
  font-size: 30px;
}
.course .calculate .btn-wrap {
  display: block;
  text-align: center;
  margin-top: 35px;
}
@media (max-width: 980px) {
  .course .calculate .btn-wrap {
    margin-top: 42px;
  }
}
.info {
  padding-bottom: 397px;
}
@media (max-width: 980px) {
  .info {
    padding-bottom: 75px;
  }
}
.info--images {
  pointer-events: none;
}
.info--images .decor-shadow {
  top: -200px;
  left: 50%;
  margin-left: -320px;
}
.info--images-right {
  position: absolute;
  top: -350px;
  right: 0;
  background-image: url("../img/sprite.png");
  background-position: -1738px 0px;
  width: 631px;
  height: 1931px;
}
@media (max-width: 980px) {
  .info--images-right {
    top: -355px;
    right: auto;
    left: 0;
    background: url("../img/sprite-mobile.png");
    background-position: -577px -227px;
    width: 143px;
    height: 699px;
  }
}
.info--images-circle1 {
  position: absolute;
  top: 335px;
  left: 50%;
  margin-left: -640px;
}
@media (max-width: 980px) {
  .info--images-circle1 {
    top: -145px;
    margin-left: 130px;
  }
}
.info--images-circle1 div {
  width: 280px;
  height: 280px;
}
.info--images-circle2 {
  position: absolute;
  top: 2490px;
  left: 50%;
  margin-left: 610px;
}
@media (max-width: 980px) {
  .info--images-circle2 {
    top: 2240px;
    margin-left: -150px;
  }
}
.info--images-circle2 div {
  width: 100px;
  height: 100px;
}
@media (max-width: 980px) {
  .info--images-circle2 div {
    width: 35px;
    height: 35px;
  }
}
.info h2 {
  margin-bottom: 12px;
}
.info h2 + span {
  display: block;
  text-align: center;
  margin-bottom: 65px;
  letter-spacing: 0;
}
@media (max-width: 980px) {
  .info h2 + span {
    margin-bottom: 35px;
  }
}
.info-wrap {
  background: #f7f9fc;
  display: block;
}
@media (max-width: 980px) {
  .info-wrap {
    display: block !important;
    white-space: normal;
  }
}
.info--left {
  box-sizing: border-box;
  width: 435px;
  padding: 88px 55px 70px 90px;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 980px) {
  .info--left {
    display: block;
    width: auto;
    padding: 30px 30px 40px;
    text-align: center;
  }
}
.info--left h3 {
  margin-bottom: 30px;
  line-height: 30px;
  color: #0e1652;
  font-family: GothamPro, sans-serif;
}
@media (max-width: 980px) {
  .info--left h3 {
    text-align: center;
    color: #171e60;
    line-height: 26px;
    margin-bottom: 18px;
  }
}
.info--left span {
  display: block;
  color: #9195b0;
  margin-bottom: 10px;
}
@media (max-width: 980px) {
  .info--left span {
    margin-bottom: 5px;
  }
}
.info--left ul {
  margin-bottom: 36px;
}
@media (max-width: 980px) {
  .info--left ul {
    margin-bottom: 13px;
  }
}
.info--left ul li {
  display: inline-block;
  vertical-align: top;
}
.info--left ul li:first-child {
  margin-right: 20px;
}
.info--left ul li:first-child .icon {
  display: inline-block;
  vertical-align: top;
  background-image: url("../img/sprite.png");
  background-position: -3281px -1007px;
  width: 15px;
  height: 14px;
  margin-right: 5px;
  margin-top: 3px;
}
.info--left ul li:last-child .icon {
  display: inline-block;
  vertical-align: top;
  background-image: url("../img/sprite.png");
  background-position: -3281px -994px;
  width: 20px;
  height: 13px;
  margin-right: 5px;
  margin-top: 3px;
}
.info--left ul li span {
  color: #4d527e;
  display: inline-block;
  vertical-align: top;
}
.info--right {
  box-sizing: border-box;
  width: 530px;
  padding: 88px 55px 70px 80px;
  display: inline-block;
  vertical-align: top;
  background: #f7f9fc;
}
@media (max-width: 980px) {
  .info--right {
    display: block;
    width: auto;
    padding: 40px 30px 30px;
    text-align: center;
  }
}
.info--right h3 {
  color: #0e1652;
  margin-bottom: 56px;
  text-align: center;
}
@media (max-width: 980px) {
  .info--right h3 {
    margin-bottom: 43px;
  }
}
.info--right .main-form .inp {
  border-bottom: 1px solid #d3dce7;
  margin-bottom: 45px;
  color: #0e1652;
}
@media (max-width: 980px) {
  .info--right .main-form .inp {
    margin-bottom: 31px;
  }
}
.info--right .main-form .inp::-webkit-input-placeholder {
  color: #b0b4d2;
}
.info--right .main-form .inp::-moz-placeholder {
  color: #b0b4d2;
}
.info--right .main-form .inp:-ms-input-placeholder {
  color: #b0b4d2;
}
.info--right .main-form .inp::placeholder {
  color: #b0b4d2;
}
.info--right .main-form .inp-checkbox {
  margin-bottom: 0;
}
.info--right .main-form .inp-checkbox span {
  color: #0e1652;
}
.info--right .main-form .btn {
  width: 240px;
  padding-left: 0;
  padding-right: 0;
}
.contacts {
  padding-bottom: 90px;
}
.contacts--images {
  pointer-events: none;
}
.contacts--images .decor-text-s {
  left: 50%;
  top: -275px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
@mdeia sm {
  display: none;
}
.contacts--images .decor-sky {
  left: 50%;
  top: 50%;
  background-image: url("../img/sprite.png");
  background-position: 0px 0px;
  width: 1738px;
  height: 1050px;
  -webkit-transform: translate3d(-47%, -45%, 0);
          transform: translate3d(-47%, -45%, 0);
}
@media (max-width: 980px) {
  .contacts--images .decor-sky {
    -webkit-transform: translate3d(-47%, -70%, 0);
            transform: translate3d(-47%, -70%, 0);
  }
}
.contacts--images-left {
  position: absolute;
  top: -250px;
  left: -150px;
  background-image: url("../img/sprite.png");
  background-position: 0px -1050px;
  width: 739px;
  height: 1778px;
}
@media (max-width: 980px) {
  .contacts--images-left {
    bottom: -200px;
    background: url("../img/sprite-mobile.png");
    background-position: 0px 0px;
    width: 818px;
    height: 227px;
    top: auto;
  }
}
.contacts h2 {
  margin-bottom: 40px;
}
.contacts .main-form {
  display: block;
  margin: 0 auto;
  width: 355px;
}
@media (max-width: 980px) {
  .contacts .main-form {
    width: auto;
  }
}
