
<div id="popup--about-white" class="popup--about popup--about-white popup"><img src="img/icon--about-2.png" alt="alt" /="/"/>
  <h3>Доступность инвестирования</h3>
  <div class="scrollbar-wrap">
    <p>Криптовалюта создана на&nbsp;базе сервиса EvoDesk Сервис EvoDesk позволяет пользователям эффективно управлять своим временем, нанять личного помощника, покупать лучшие знания, управлять командой, искать сотрудников, инвесторов и&nbsp;клиентов.</p>
    <p>В&nbsp;отличии от&nbsp;подавляющего большинства криптовалют за&nbsp;счет EvoCoin уже можно совершать реальные покупки в&nbsp;Магазине  Товаров EvoDesk</p>
    <p>Криптовалюта создана на&nbsp;базе сервиса EvoDesk Сервис EvoDesk позволяет пользователям эффективно управлять своим временем, нанять личного помощника, покупать лучшие знания, управлять командой, искать сотрудников, инвесторов и&nbsp;клиентов.</p>
  </div>
  <script type="text/javascript">$(function () {$('.popup--about .scrollbar-wrap').customScrollbar()})</script>
</div>