
<div class="popup--video">
  <div class="popup">
    <div class="video-wrap"><a href="#myVideo234" class="play-video js--play-video"></a>
      <video id="myVideo234" poster="img/img--poster.jpg" class="video">
        <source src="files/video.mp4"/>
        <source src="files/video.ogv"/>
        <source src="files/video.webm"/>
      </video>
    </div>
  </div>
  <script type="text/javascript">$(function () {$('.popup--about .scrollbar-wrap').customScrollbar()});</script>
</div>